<div class="container mt-5">
    <h2>Historia de dos Aventureros</h2>
    <p><strong>Autor: </strong> Umberto Jara</p>
    <p><strong>Cantidad: </strong> 1</p>
    <p><strong>Precio: </strong> S/ 29.90</p>
    <img src="assets/librosimg/libro4.png" alt="Imagen del libro" class="img-fluid img-libro">
    <div class="row mt-5">
        <div class="col-md-4">
            <button (click)="pay(29.90)" class="btn btn-secondary btn-block">Pagar S/ 29.90</button>
        </div>
        <!-- <div class="col-md-4">
        <button (click)="pay(30)" class="btn btn-success btn-block">Pay $30</button>
      </div>
      <div class="col-md-4">
        <button (click)="pay(50)" class="btn btn-info btn-block">Pay $50</button>
      </div>     -->
    </div>
</div>