<div class="container">
    <div class="card align-items-center">
        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-4">
                <img src="assets/librosimg/libro4.png" alt="Imagen del libro" class="img-fluid img-libro">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>ISBN: </strong>9786123198251</li>
                        <li class="list-group-item"><strong>Autor: </strong>UMBERTO JARA</li>
                        <li class="list-group-item"><strong>Editorial: </strong>PLANETA</li>
                        <li class="list-group-item"><strong>Año: </strong>2023</li>
                        <li class="list-group-item"><strong>Páginas: </strong>224</li>
                    </ul>
                </div>
            </div>

            <!-- Segunda columna -->
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">HISTORIA DE DOS AVENTUREROS</h2>
                    <h5 class="card-text">Reseña:</h5>
                    <p class="card-reseña">
                        Historia de dos aventureros es un asombroso relato de la historia reciente del Perú. Su autor
                        revela acontecimientos
                        que el ciudadano leerá desde el estupor y la indignación. El paso de Toledo por Standford sin
                        haber obtenido el título
                        de Economista. Los dos millones de dólares que ganó en la estafa de la financiera CLAE.
                        Sus vínculos secretos con Vladimiro Montesinos desde 1994 hasta el año 2000. Las negociaciones
                        con emisarios de Montesinos
                        y un soborno para fingir su renuncia a la segunda vuelta electoral de 2000. La falsificación de
                        firmas para postular su candidatura
                        presidencial. La tormentosa relación de la pareja Alejandro Toledo-Karp, la historia de su
                        divorcio y el matrimonio oculto en mayo
                        de 2000. La confesión en un hotel de Miami sobre el video Kouri-Montesinos y la falsa historia
                        de los “patriotas”. Su conducta
                        libertina: el falso secuestro, alcohol, prostitutas, el avión parrandero. La historia del
                        millonario soborno acordado en un hotel de
                        Río de Janeiro con Marcelo Odebrecht y Jorge Barata. Las compras de inmuebles lujosos con dinero
                        corrupto pagado por la constructora
                        Odebrecht y utilizando a Ecoteva, una empresa de fachada. El grave daño causado al país con la
                        liberación y el pago de indemnizaciones
                        a terroristas.
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="quantity">
                            <input type="number" class="form-control" min="1">
                        </div>
                        <button class="btn btn-success ml-auto" routerLink="/shopping-cart">COMPRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

