<!--  
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <h2>Crear Cuenta</h2>
                    </div>

                    <form [formGroup]="myForm">
                        <div class="registrarNombre" id="contenedorRegistro">
                            <div>
                                <span>Nombre</span>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Ingrese su nombre</mat-label>
                                    <input matInput formControlName="name" required>
                                </mat-form-field>
                                <div *ngIf="myForm.get('name')?.hasError('required') && myForm.get('name')?.touched">
                                    <span>Este campo es obligatorio</span>
                                </div>
                                <div *ngIf="myForm.get('name')?.hasError('maxLength')">
                                    <span>Este campo debe tener como maximo 10 caracteres</span>
                                </div>
                            </div>
                        </div>

                        <div class="registrarCorreo" id="contenedorRegistro">
                            <div>
                                <span>Correo</span>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Ingrese su correo</mat-label>
                                    <input matInput formControlName="email" required>
                                </mat-form-field>
                                <div *ngIf="myForm.get('email')?.hasError('required') && myForm.get('email')?.touched">
                                    <span>Este campo es obligatorio</span>
                                </div>
                                <div *ngIf="myForm.get('email')?.hasError('email')">
                                    <span>Este no es un formato valido</span>
                                </div>
                            </div>
                        </div>

                        <div class="registrarContraseña" id="contenedorRegistro">
                            <div>
                                <span>Contraseña</span>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Ingrese su contraseña</mat-label>
                                    <input matInput formControlName="password" required>
                                </mat-form-field>
                                <div
                                    *ngIf="myForm.get('password')?.hasError('required') && myForm.get('password')?.touched">
                                    <span>Este campo es obligatorio</span>
                                </div>
                                <div *ngIf="myForm.get('password')?.hasError('minLength')">
                                    <span>La contraseña debe tener minimo 8 caracteres</span>
                                </div>
                            </div>

                            <div class="registrarContraseña" id="contenedorRegistro">
                                <div>
                                    <span>Peso (Kg)</span>
                                </div>
                                <div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ingrese su peso actual</mat-label>
                                        <input matInput formControlName="peso" required>
                                    </mat-form-field>
                                    <div
                                        *ngIf="myForm.get('peso')?.hasError('required') && myForm.get('peso')?.touched">
                                        <span>Este campo es obligatorio</span>
                                    </div>
                                    <div *ngIf="myForm.get('peso')?.hasError('maxLength')">
                                        <span>El peso debe tener mmaximo 3 caracteres</span>
                                    </div>
                                </div>
                            </div>
                            <div class="registrarContraseña" id="contenedorRegistro">
                                <div>
                                    <span>Altura (cm)</span>
                                </div>
                                <div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ingrese su altura actual</mat-label>
                                        <input matInput formControlName="altura" required>
                                    </mat-form-field>
                                    <div
                                        *ngIf="myForm.get('altura')?.hasError('required') && myForm.get('altura')?.touched">
                                        <span>Este campo es obligatorio</span>
                                    </div>
                                    <div *ngIf="myForm.get('altura')?.hasError('maxLength')">
                                        <span>La altura debe tener maximo 3 caracteres</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <button mat-raised-button color="warn" routerLink="/login">Cancelar</button>
                            <button style="margin-left: 10px" mat-raised-button color="primary"
                                [disabled]="myForm.invalid" (click)=saveCreate()>Aceptar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
-->